@headerHeight: 50px;
@antlerBlue: #2980b9;
@warningColor: #ff353d;

body {
  margin: 0;
  padding: 0;
}

canvas {
  top: @headerHeight;
  position: absolute;
  z-index: -1;
}

input#scaleCanvas{
  width: 100px;
}

section#header {
  height: @headerHeight;
  width: auto;
}

section#header div {
  text-align: center;
  height: inherit;
}

section#header div img{
  height: @headerHeight;
  width: @headerHeight;
}

section#header div button{
  width: 100%;
  margin-top: 10px;
  background-color: @antlerBlue;
}

section#header div ul{
  width: 50%;
  margin-left: 15px;
}

section#header div p a {
  padding-top: 15px;
  display: block;
  color: @antlerBlue;
}

.profileForm input.ng-invalid {
  background-color: @warningColor;
}