@headerHeight: 50px;
@antlerBlue: #2980b9;
@warningColor: #ff353d;
@lightgrey: #eeeeee;

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("SourceSansPro.ttf");
}

@font-face {
  font-family: 'SourceSansPro';
  font-weight: bold;
  src: url("SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: italic;
  src: url("SourceSansPro-Italic.ttf");
}

@font-face {
  font-family: 'SourceSansPro';
  font-weight: bold;
  font-style: italic;
  src: url("SourceSansPro-BoldItalic.ttf");
}

canvas {
  position: absolute;
  z-index: -1;
  top: @headerHeight;
  background-color: @lightgrey;
}

input#scaleCanvas{
  width: 100px;
}

section#header {
  height: @headerHeight;
  width: auto;
}

section#header div {
  text-align: center;
  height: inherit;
}

section#header div img{
  height: @headerHeight;
  width: @headerHeight;
}

section#header div button{
  width: 100%;
  margin-top: 10px;
  background-color: @antlerBlue;
}

section#header div ul{
  width: 50%;
  margin-left: 15px;
}

section#header div p a {
  padding-top: 15px;
  display: block;
  color: @antlerBlue;
}

.profileForm input.ng-invalid {
  background-color: @warningColor;
}

section div#traderList {
  height: 150px;
  top: 650px;
  position: absolute;
  display: block;
  background-color: white;
  width: 100%;

  h3 {
    margin: 5px 0 0 10px;
  }

  ul {
    margin: 20px 0 0 0;
  }

  ul li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;

    img{
      width: @headerHeight;
      height: @headerHeight;
      display: block;
    }

    span {
      text-align: center;
    }
  }
}
