@headerHeight: 100px;
@antlerBlue: #2980b9;

body {
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  z-index: -1;
}

input#scaleCanvas{
  width: 100px;
}

section#header {
  height: @headerHeight;
  width: auto;
}

section#header div {
  text-align: center;
  height: inherit;
}

section#header div img{
  height: @headerHeight;
  width: 100px;
}

section#header div button{
  width: 100%;
  margin-top: 30px;
  background-color: @antlerBlue;
}

section#header div ul{
  width: 50%;
  margin-left: 15px;
  margin-top: -30px;
}

section#header div a#logout{
  padding-top: 40px;
  display: block;
  color: @antlerBlue;
}