<div ng-include="'/pages/header.html'"></div>
<div ng-include="'/pages/balanceOverview.html'"></div>

<section>
    <table>
        <tr>
            <th ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
                <span ng-show="sortType == 'date' && !sortReverse" class="caret"></span>
                <span ng-show="sortType == 'date' && sortReverse" class="dropup"><span class="caret"></span></span></th>
            <th ng-click="sortType = 'amountchange'; sortReverse = !sortReverse" class="right">Change
                <span ng-show="sortType == 'amountchange' && !sortReverse" class="caret"></span>
                <span ng-show="sortType == 'amountchange' && sortReverse" class="dropup"><span class="caret"></span></span></th>
        </tr>
        <tr ng-repeat="transaction in user.transactions | orderBy:sortType:sortReverse">
            <td>{{transaction.date.toLocaleString('be-NL')}}</td>
            <td ng-class="transactionClass(transaction)">{{transaction.amountchange.toLocaleString('be-NL', {style: 'currency', currency: 'EUR'})}}</td>
        </tr>
    </table>
</section>