<section class="dock">
    <div class="current">
        <h3>Current traders</h3>
        <ul>
            <li ng-repeat="t in traders">
                <a ng-href="user/{{t._id}}">
                    <img src="../dist/images/logos/antlerlogo.png" alt="profilepicture">
                    <span>{{t.firstname}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="recommended">
        <h3>Top traders for you</h3>
        <ul><!--
            --><li ng-repeat="t in newTraders">
                <a ng-href="user/{{t._id}}">
                    <img src="../dist/images/logos/antlerlogo.png" alt="profilepicture">
                    <span>{{t.firstname}}</span>
                </a>
            </li><!--
            --><li>
                <a ng-href="user/search">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search</span>
                </a>
            </li><!--
        --></ul>
    </div>

    <div class="makeTrade" ng-click="newTrade()">
        <h3>New trade</h3>
        <p>+</p>
    </div>
</section>

<div class="newTrade" ng-class="isNewTradeOpen()">
    <h3>New trade</h3>

    <form>
        <div class="form-group">
            <input list="searchCompany" ng-model="trade.Company" name="Company" ng-change="changeCompanyField()" placeholder="Company">
            <datalist ng-model="trade.Company" id="searchCompany">
                <option ng-repeat="company in companies">{{company.Name}}</option>
            </datalist><!--

            --><div class="third">
                <label for="amount">Price</label>
                <div class="extra valuta"><input ng-model="trade.AmountInvested" min="0" step="1" id="amount" type="number" ng-disabled="isAmountFieldEnabled(trade)" ng-change="changeNewTradeField('AmountInvested')"></div>
            </div><!--

            --><div class="third">
                <label for="stock">Stock</label>
                <div class="extra number"><input ng-model="trade.stock" min="0" step="1" id="stock" type="number" ng-disabled="isAmountFieldEnabled(trade)" ng-change="changeNewTradeField('stock')"></div>
            </div><!--

            --><div class="third">
                <label for="investedPercentage">Percentage</label>
                <div class="extra percentage"><input ng-model="trade.PercentageInvested" min="0" step="0.1" id="investedPercentage" type="number" ng-disabled="isAmountFieldEnabled(trade)" ng-change="changeNewTradeField('PercentageInvested')"></div>
            </div><!--

            --><div class="rb">
                <label for="rbLong">Long</label>
                <input ng-model="trade.longShort" value="long" id="rbLong" type="radio" name="longShort">
            </div><!--

            --><div class="rb">
                <label  for="rbShort">Short</label>
                <input ng-model="trade.longShort" value="short" id="rbShort" type="radio" name="longShort">
            </div><!--

            --><label for="comment">Comment</label>
            <textarea ng-model="trade.Comment" id="comment" placeholder="I made this trade because...">
            </textarea>
        </div>

        <button class="btn btn-default" ng-click="confirmTrade(trade)" ng-disabled="isNewTradeEnabled(trade)">confirm</button>
    </form>
</div>