<section>
    <div id="traderList">
        <div>
            <h3>Current traders</h3>
            <ul>
                <li ng-repeat="t in traders">

                    <a ng-href="#/profile/{{t.id}}">
                        <img src="../dist/images/logos/antlerlogo.png" alt="profilepicture">
                        <span>{{t.firstName}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h3>New traders you can follow</h3>
            <ul>
                <li ng-repeat="t in traders">
                    <a ng-href="#/profile/{{t.id}}">
                        <img src="../dist/images/logos/antlerlogo.png" alt="profilepicture">
                        <span>{{t.firstName}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div ng-show="isNewTrade" ng-click="newTrade()">
            <h3>Make a new trade</h3>
            <p>+</a></p>
        </div>
        <div ng-hide="isNewTrade">
            <p>this is a new trade</p>
            <button ng-click="confirmTrade()">confirm</button>
        </div>
    </div>
</section>