<div ng-include="'/pages/header.html'"></div>

<section>
    <p><a ng-href="#/home">Go home</a></p>
    <table>
        <tr>
            <th>Date</th>
            <th>Shares</th>
            <th>Long/Short</th>
            <th>In at</th>
            <th>Out at</th>
            <th>Total win/loss</th>
        </tr>
        <tr ng-repeat="trade in trades">
            <td>{{trade.date}}</td>
            <td>{{trade.shares}}</td>
            <td>{{trade.type}}</td>
            <td class="right">{{trade.inAt.toLocaleString('be-NL', {style: 'currency', currency: 'EUR'})}}</td>
            <td class="right">{{trade.outAt.toLocaleString('be-NL', {style: 'currency', currency: 'EUR'})}}</td>
            <td ng-if="trade.difference < 0" class="negative">{{trade.difference.toLocaleString('be-NL', {style: 'currency', currency: 'EUR'})}}</td>
            <td ng-if="trade.difference >= 0" class="positive">{{trade.difference.toLocaleString('be-NL', {style: 'currency', currency: 'EUR'})}}</td>
        </tr>
    </table>
</section>