<div ng-include="'/pages/header.html'"></div>

<section>
    <table>
        <tr>
            <th ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
                <span ng-show="sortType == 'date' && !sortReverse" class="caret"></span>
                <span ng-show="sortType == 'date' && sortReverse" class="dropup"><span class="caret"></span></span></th>
            <th ng-click="sortType = 'shares'; sortReverse = !sortReverse">Shares
                <span ng-show="sortType == 'shares' && !sortReverse" class="caret"></span>
                <span ng-show="sortType == 'shares' && sortReverse" class="dropup"><span class="caret"></span></span></th>
            <th ng-click="sortType = 'type'; sortReverse = !sortReverse">Long/Short
                <span ng-show="sortType == 'type' && !sortReverse" class="caret"></span>
                <span ng-show="sortType == 'type' && sortReverse" class="dropup"><span class="caret"></span></span></th>
            <th ng-click="sortType = 'inAt'; sortReverse = !sortReverse" class="right">In at
                <span ng-show="sortType == 'inAt' && !sortReverse" class="caret"></span>
                <span ng-show="sortType == 'inAt' && sortReverse" class="dropup"><span class="caret"></span></span></th>
            <th ng-click="sortType = 'outAt'; sortReverse = !sortReverse" class="right">Out at
                <span ng-show="sortType == 'outAt' && !sortReverse" class="caret"></span>
                <span ng-show="sortType == 'outAt' && sortReverse" class="dropup"><span class="caret"></span></span></th>
            <th ng-click="sortType = 'difference'; sortReverse = !sortReverse" class="right">Total win/loss
                <span ng-show="sortType == 'difference' && !sortReverse" class="caret"></span>
                <span ng-show="sortType == 'difference' && sortReverse" class="dropup"><span class="caret"></span></span></th>
        </tr>
        <tr ng-repeat="trade in trades | orderBy:sortType:sortReverse">
            <td>{{trade.date}}</td>
            <td>{{trade.shares}}</td>
            <td>{{trade.type}}</td>
            <td class="right">{{trade.inAt.toLocaleString('be-NL', {style: 'currency', currency: 'EUR'})}}</td>
            <td class="right">{{trade.outAt.toLocaleString('be-NL', {style: 'currency', currency: 'EUR'})}}</td>
            <td ng-if="trade.difference < 0" class="negative">{{trade.difference.toLocaleString('be-NL', {style: 'currency', currency: 'EUR'})}}</td>
            <td ng-if="trade.difference >= 0" class="positive">{{trade.difference.toLocaleString('be-NL', {style: 'currency', currency: 'EUR'})}}</td>
        </tr>
    </table>
</section>