<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Antler</title>
    <link rel="stylesheet" href="http://localhost:3000/lib/Bootstrap/css/bootstrap.min.css">
    <script src="http://localhost:3000/lib/Bootstrap/js/jquery-1.11.3.min.js"></script>
    <script src="http://localhost:3000/lib/Bootstrap/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="http://localhost:3000/dist/css/site.css" rel="stylesheet" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="icon" href="http://localhost:3000/dist/images/icons/favicon.png">
    <link rel="apple-touch-icon" href="http://localhost:3000/dist/images/icons/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://localhost:3000/dist/images/icons/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://localhost:3000/dist/images/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://localhost:3000/dist/images/icons/touch-icon-ipad-retina.png">
    <base href="/">
</head>
<body>

    <div id="main">
        <div ng-view></div>
    </div>

    <script src="http://localhost:3000/dist/js/canvas.min.js"></script>
    <script src="http://localhost:3000/dist/js/app.min.js"></script>
    <script src="http://localhost:3000/lib/Angular/angular.js"></script>
    <script src="http://localhost:3000/lib/Angular/angular-route.js"></script>
    <script src="http://localhost:3000/app.js"></script>
    <script src="http://localhost:3000/services/userService.js"></script>
    <script src="http://localhost:3000/services/tradeService.js"></script>
    <script src="http://localhost:3000/services/transactionService.js"></script>
    <script src="http://localhost:3000/controllers/mainController.js"></script>
    <script src="http://localhost:3000/controllers/balanceController.js"></script>
    <script src="http://localhost:3000/controllers/profileController.js"></script>
    <script src="http://localhost:3000/controllers/tradeController.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>